*{
    margin: 0;
    padding: 0;
}
body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(200deg,#ad6296,#e8ffa3);
}
.container{
    background: linear-gradient(-200deg,#fac0e7,#aac2ee);
    width: 650px;
    height: 415px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    position: relative;
}